<div id="contentWrapper">
	<div id="content">
		<div id="photo_galleries">
			<% cnt = 0 %>
			<% @picture_data.each do |pd| %>
				<h3><a href="<%= pd[:link] %>"><%= pd[:name] %></a></h3>
				<div class="flexslider" style="width:400px;margin:auto;">
					
					<ul class="slides">
						<% pd[:data].each do |i| %>
							<% d = i["images"][4]%>
							<li><img src="<%= d["source"] %>" ></li>
						<% end %>						
					</ul>
				</div>
			<% end %>
		</div>
	</div>
</div>


