
<div id="contentWrapper">
	
	<div id="content">
		<div class="dropdown">
			<a class="btn dropdown-toggle icon-align-justify" href="#" data-toggle="dropdown" id="">&nbsp;</a>
			<%= render(:partial => "/refinery/sideMenu") %>
		</div>
		<%= render '/refinery/content_page' %>
		
	</div>
	
</div>
