<div id="footerWrapper">
	<div id="footer">
		<%= image_tag "bbcSlogan.png", :alt => "bbcSlogan", :width => "300", :id => "footerSloganImage" %>
		<ul>
			<li>
				Bible Study Materials
				<ul>
					<li><a href="http://faithforthefamily.com/m/#/m/devotional/">Daily Devotional</li>
					<li><a href="#">Where will you Spend Eternity?</a></li>
					<li><a href="#">Online Bible</a></li>
				</ul>
			</li>
			<li>Helpful Links</li>
			
		</ul>
	</div>
</div>
