
/******************************************/

/****MEDIA QUERIES*****/
/***********************/
/* Smartphones (landscape) ----------- */
@media screen and (max-width: 932px) {
/* Styles */
	#imageFader{
		display:none;
	}
	.headerWrapper .welcomeSlogan{right:0px;}
	#contentWrapper #content{padding:0;margin-top: 0px;}
	#menuPanelButton{display: block;}
	.topMenu{display:none;}
	#contentWrapper #content.lowContent{margin-top:0px;}
	.headerWrapper .logo img{width:104px;padding: 5px;}
	.headerWrapper .social{top: 12px;}
	#footerSloganImage{display:none;}
}
/*Mid range resolution check */
@media screen and (max-width:750px){
	body{padding:0;}
}
/* Smartphones (portrait) ----------- */
@media screen and (max-width: 630px) {
/* Styles */
	body{padding:0;}
	#Buttons p img{padding:3px;}
	.headerWrapper{width:100%;}
	.headerWrapper .welcomeSlogan{display:none;}
	
	#contentWrapper{margin-top:35px;}
	
	
	#footer{min-width:100px;}
	
}
@media screen and (max-width:520px){
	body{padding:0;}
	#Buttons{padding:0px 0px 15px 0px;}
	#Buttons .left{width:100%;}
	#Buttons .middle{width:100%;}
	#Buttons .right{width:100%;}
	#Buttons p img{
		width:300px;
		height:auto;
		margin:10px 0px;
		box-shadow:none;
	}
}
@media screen and (max-width:460px){
	body{padding:0;}
	.headerWrapper{width:100%;min-width:320px;}
	#header{
		width:100%;
		min-width:290px;
		height:auto;
	}
	#imageFader{
		display:none;
		position:absolute;
	}
	
	#contentWrapper{width:100%;min-width:320px;margin-top:30px;}
	#content{width:100%;min-width:290px;margin:auto;margin-top:25px;}
	#footer{min-width:100px;position:relative;}
	#footer a{clear:both;}
	#footer .custom{width:220px;position:initial;}
	#footer p{float:left;}
	#contentWrapper #content.subPages img{display: none;}
}
