
/******************************************/

/****MEDIA QUERIES*****/
/***********************/
/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width:1024px) {
	
}
@media screen and (max-width: 980px) {
	
/* Styles */
	#content{padding:0px;width:100%;box-shadow:none;}
	
}

/* Smartphones (landscape) ----------- */
@media screen and (max-width: 932px) {
/* Styles */
	#Buttons p img{width:200px;height:134px;padding:8px;}
	#imageFader{
		display:none;
	}	
	padding-right:20px;
}
/*Mid range resolution check */
@media screen and (max-width:750px){
	body{padding:0;}
	.social{right:0px;top:0px;}
	.social img{clear:both;}
	#Buttons p img{width:150px;height:100px;padding:5px;}
	.topMenu ul li ul li a{font-size:12px;}
}
/* Smartphones (portrait) ----------- */
@media screen and (max-width: 630px) {
/* Styles */
	body{padding:0;}
	#Buttons p img{padding:3px;}
	.headerWrapper{width:100%;}
	#header{
		width:100%;
	}
	.logo{
		clear:both;
		position:relative;
		width:100px;
	}
	.topMenu ul li a{padding:7px 5px 10px 5px;font-size:12px;}
	
	.topMenu{
		width:100%;
	}
	#contentWrapper{margin-top:35px;}
	
	
	#footer{min-width:100px;}
	.topMenu ul li ul li a{font-size:12px;}
}
@media screen and (max-width:520px){
	body{padding:0;}
	#Buttons{padding:0px 0px 15px 0px;}
	#Buttons .left{width:100%;}
	#Buttons .middle{width:100%;}
	#Buttons .right{width:100%;}
	#Buttons p img{
		width:300px;
		height:auto;
		margin:10px 0px;
		box-shadow:none;
	}
	.topMenu li a{font-size:9px;}
}
@media screen and (max-width:460px){
	body{padding:0;}
	.headerWrapper{width:100%;min-width:320px;}
	#header{
		width:100%;
		min-width:290px;
		height:auto;
	}
	.logo{text-align:center;width:100%;}
	.logo img{width:100px;padding:20px 0px 20px 0px;margin:auto;}
	.topMenu ul li{padding:0;width:100%;}
	.topMenu ul li a{padding: 3px 1px 3px 1px;font-size:9px;}
	.topMenu ul li ul{position:relative;}
	.topMenu ul li ul li{width:100%;}
	.topMenu ul li ul li a{width:100%}
	.topMenu ul{width:100%; margin:auto;min-width:290px}
	#imageFader{
		display:none;
		position:absolute;
	}
	.topMenu{
		width:100%;
		min-width:290px;
		top:60px;
	}
	.topMenu ul li a{padding-bottom:10px;}
	.headerWrapper .social{width:100%;position:relative;border-radius:0px;-webkit-border-radius:0px;padding:10px 0px;}
	.headerWrapper .social ul{width:100%;display:block;height:20px;margin:0;}
	.headerWrapper .social ul li{width:33%;padding:0px;text-align:center;}
	#contentWrapper{width:100%;min-width:320px;margin-top:30px;}
	#content{width:100%;min-width:290px;margin:auto;margin-top:25px;}
	#footer{min-width:100px;position:relative;}
	#footer a{clear:both;}
	#footer .custom{width:220px;position:initial;}
	#footer p{float:left;}
	#footer #footerSloganImage{right:0px;bottom:0px;}
}

@media screen and (max-width:425px) {
	.topMenu ul li ul li a{font-size:10px;padding-left:3px;padding-right:3px;}
}
@media screen and (max-width:345px) {
	.topMenu ul li a{font-size:8px;padding-left:3px;padding-right:3px;}
	.topMenu ul li ul li a{font-size:8px;padding:7px 0px;}
}
